@page "/C_Jugadas"
@attribute [Authorize]
@inject DialogService dialogService
@inject JugadasBLL jugadasBLL

<EditForm Model="jugadas">
    <DataAnnotationsValidator />
    <div class="card text-dark bg-light shadow-lg text-primary">
        <div class="card-header text-center">
            <h4 class=" text-center text-primary">Consulta de Jugadas</h4>

            @*Imprimir*@
            <div class="col-2 mt-4  float-right">
                <button @onclick="ShowInlineDialog" class="btn btn-outline-primary" type="button"> <i
                        class="bi bi-printer" />Imprimir</button>
            </div>
        </div>
        <div class="card-body opacity-75">
            <div class="row justify-content-between">
                @*Ganancia Id*@
                <div class="col-3">
                    <label class="text-primary">Ganancia Id</label>
                    <div class="input-group mb-3">
                        <InputNumber class="form-control" @bind-Value="jugadas.JugadaId" />
                    </div>
                </div>
                @*Fecha1*@
                <div class="col-3">
                    <label class="text-primary">Fecha Desde</label>
                    <div class="input-group mb-3">
                        <InputDate @bind-Value="fecha1" class="form-control"></InputDate>
                    </div>
                </div>

                @*Fecha2*@
                <div class="col-3  ">
                    <label class="  text-primary">Fecha Hasta</label>
                    <div class="input-group mb-3">
                        <InputDate @bind-Value="fecha2" class="form-control"></InputDate>
                    </div>
                </div>


                @*Buscar*@
                <div class="col-3 mt-4 ">
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button"> <i
                            class="oi oi-magnifying-glass text-secondary" /> Buscar</button>
                </div>
            </div>
            <hr>
            @* Tabla de detalles *@
            <table class="table table-bordered table-light">
                <thead class="thead">
                    <tr class="table">
                        <th>JugadaId</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in jugada)
                    {
                        <tr>
                            <td class="table-light">@item.JugadaId</td>
                            <td class="table-light">@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td class="table-light">@item.Monto</td>
                            <td class="table-light"><a class="btn btn-sm btn-outline-primary oi oi-eye"
                                href="R_Jugadas/@item.JugadaId">Ver</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</EditForm>
@code {

    public Jugadas jugadas { get; set; } = new Jugadas();
    public List<Jugadas> jugada { get; set; } = new List<Jugadas>();

    public DateTime fecha1 { get; set; } = new DateTime(2022, 8, 1);
    public DateTime fecha2 { get; set; }


    byte[] reportData;
    string pdfContent = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        fecha2 = DateTime.Now;

    }

    void Buscar()
    {
        if(fecha2 !=null)
        {
           fecha2 = fecha2.AddHours(23).AddMinutes(59).AddSeconds(59);
        }
        if (this.jugadas.JugadaId == 0)
        {

            jugada = jugadasBLL.BuscarFecha(fecha1, fecha2);
        }
        else
        {
            jugada = jugadasBLL.BuscarListaJ(jugadas.JugadaId);

        }
    }

    async Task ShowInlineDialog()
    {
        RptResult rptResult = new RptResult();
        reportData = rptResult.Report(jugada);
        pdfContent = "data:application/pdf;base64, " + System.Convert.ToBase64String(reportData);
        var result = await dialogService.OpenAsync("Reporte de Jugadas", ds =>

    @<div>
        @if (reportData is { })
            {
                <object data="@pdfContent" width="800px" height="300px" name="_blank" />

            }
        </div>
    , new DialogOptions() { Width = "850px", Height = "400px", Resizable = false, Draggable = false });


    }

}
