@page "/JJ"
@page "/JJ/{GananciaId:int}"
@inject GananciasBLL gananciaBLL
@inject JugadasBLL jugadasBLL

<div class="container">
    <div>
        <h1 class=" text-center text-secondary">Bienvenidos</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 my-5">
            <div class="card-header">
                <h4 class=" text-center text-primary">Porcentaje de Ganancias X Loterias</h4>
            </div>
            <RadzenChart SeriesClick=@OnSeriesClick>
                <RadzenBarSeries Data="@resumenGanancias" CategoryProperty="Nombre" Title="Ganacias"
                    LineType="LineType.Dashed" ValueProperty="Ganancia">
                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                </RadzenBarSeries>
                <RadzenBarOptions Radius="5" />
            </RadzenChart>
        </div>
    </div>
</div>

<div>
    
    <div>
        @if (gananciasList.Sum(a=>a.Detalle.Sum(d=>d.MontoGanancia- d.Montojugado))>0)
        {
            <h3 style="color: green;"> Ganancias Totales: @gananciasList.Sum(a=>a.Detalle.Sum(d=> d.MontoGanancia -
            d.Montojugado)).ToString("N2")</h3>
        }else
        {
            <h3 style="color: red;"> Ganancias Totales: @gananciasList.Sum(a=>a.Detalle.Sum(d=> d.MontoGanancia -
            d.Montojugado)).ToString("N2")</h3>

        }

    </div>

</div>






@code {


    [Parameter]
    public int GananciaId { get; set; }

    public Jugadas jugadas { get; set; } = new Jugadas();

    public Ganancias ganancias { get; set; } = new Ganancias();
    public List<Ganancias> gananciasList { get; set; } = new List<Ganancias>();
    public List<ResumenGanancias> resumenGanancias { get; set; } = new List<ResumenGanancias>();
    bool showDataLabels = true;

    double TotalJugado;

    protected override void OnInitialized()
    {
        resumenGanancias = gananciaBLL.jugadasXganancias();
        ganancias.GananciaId = GananciaId;
        Buscars();
    }
    void OnSeriesClick(SeriesClickEventArgs args)
    {

    }

    void Buscars()
    {
        if (this.ganancias.GananciaId == 0)
        {
            gananciasList = gananciaBLL.GetList();
        }
        else
        {
            gananciasList = gananciaBLL.GetList().Where(g => g.GananciaId == GananciaId).ToList();

        }

    }

}